include INSTALL.py
include LICENSE
include README.rst
include README
include AUTHORS
include requirements.txt
include CHANGELOG.rst
recursive-include docs *
recursive-include bin *
recursive-include pkgbuilder *.py
recursive-include pkgbuilder/data *
recursive-include locale *.mo
recursive-include sample-scripts *
