include INSTALL.py
include LICENSE
include README.rst
include requirements.txt
include PKGBUILD
include PKGBUILD-git
recursive-include docs *
recursive-include bin *
recursive-include pkgbuilder *
recursive-include locale *.mo
